<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <form #f="ngForm" (ngSubmit)="f.form.valid && submit()" [formGroup]="form">
          <mat-error>{{status}}</mat-error>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input formControlName="username" matInput placeholder="Placeholder" required maxlength="50">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="form.controls.username.hasError('required')">The name is Required</mat-error>
              <mat-error *ngIf="form.controls.username.hasError('minlength')">The name must at least 3 characters
              </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput placeholder="Placeholder" required maxlength="50"
                     [type]="hide ? 'password' : 'text'">
              <mat-error *ngIf="form.controls.password.hasError('required')">The name is Required</mat-error>
              <mat-error *ngIf="form.controls.password.hasError('minlength')">The name must at least 3 characters
              </mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </p>
          <button type="submit" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">
            Login
            <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
          </button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
